/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dot {
    width:100%;
    height:100%;
    border-radius:50%;
}
.level_beginner {
    gap:16px;
    width:300px;
    height:300px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.wrap_dot_beginner {
    width:60px;
    height:60px;
    border-radius:50%;
    position:relative;
}

.level_medium {
    gap:16px;
    width:340px;
    height:340px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.wrap_dot_medium {
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
}

.level_hard {
    gap:16px;
    width:380px;
    height:380px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.wrap_dot_hard {
    width:30px;
    height:30px;
    border-radius:50%;
    overflow:hidden;
}

.tabs__block {
    display:none;
}
.active-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.dot_click {
    box-shadow:
        0 0 4px 2px rgba(0, 255, 0, 0.5), /* зеленая тень */
        0 0 8px 4px rgba(0, 255, 0, 0.3), /* менее яркая зеленая тень */
        0 0 16px 8px rgba(0, 255, 0, 0.2), /* еще менее яркая зеленая тень */
        0 0 32px 16px rgba(0, 255, 0, 0.1); /* самая тусклая зеленая тень */
}

.dot_wrong {
    box-shadow:
        0 0 4px 2px rgba(255, 0, 0, 0.5), /* красная тень */
        0 0 8px 4px rgba(255, 0, 0, 0.3), /* менее яркая тень */
        0 0 16px 8px rgba(255, 0, 0, 0.2), /* еще менее яркая тень */
        0 0 32px 16px rgba(255, 0, 0, 0.1); /* самая тусклая тень */
}
