.scroll {
    overflow:auto;
    width:100%;
    position:relative;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--c4);
  border-radius: 2px;
  position: absolute;
  right: 10px;
  z-index: 1;
}