/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.scroll {
    overflow:auto;
    width:100%;
    position:relative;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--c4);
  border-radius: 2px;
  position: absolute;
  right: 10px;
  z-index: 1;
}